<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Reports &rsaquo; Late Returns</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>

<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="circ-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/reports/reports-home.pl">Reports</a> &rsaquo; Late Returns</div>

<div id="doc3" class="yui-t2">

<div id="bd">
  <div id="yui-main">
    <div class="yui-b">
      <h1>Late Returns Report</h1>
      <!-- TMPL_IF NAME="display_report" -->
        <h3>Late returns for <!-- TMPL_VAR NAME="surname" -->, <!-- TMPL_VAR NAME="firstname" --></h3>
        <!-- TMPL_IF NAME="issues_loop" -->
          <table>
            <thead>
              <tr>
                <th>Title</th>
                <th>Date due</th>
                <th>Return date</th>
                <th>Days late</th>
              </tr>
            </thead>
            <tbody>
              <!-- TMPL_LOOP NAME="issues_loop" -->
                <!-- TMPL_IF NAME="late" -->
                  <tr style="color:red">
                <!-- TMPL_ELSE -->
                  <tr>
                <!-- /TMPL_IF -->
                  <td>
                    <em><!-- TMPL_VAR NAME="title" --></em>
                      by <!-- TMPL_VAR NAME="author" -->
                  </td>
                  <td><!-- TMPL_VAR NAME="date_due" --></td>
                  <td><!-- TMPL_VAR NAME="returndate" --></td>
                  <td><!-- TMPL_VAR NAME="dayslate" --></td>
                </tr>
              <!-- /TMPL_LOOP -->
            </tbody>
          </table>
        <!-- TMPL_ELSE -->
          <p>There is no late returns for <!-- TMPL_VAR NAME="surname" -->, <!-- TMPL_VAR NAME="firstname" -->.</p>
          <p><a href="/cgi-bin/koha/reports/late_returns.pl">Make a new search</a></p>
        <!-- /TMPL_IF --> <!-- /issues_loop -->
      <!-- /TMPL_IF --> <!-- /display_report -->

      <!-- TMPL_IF NAME="display_borrowers_search_results" -->
        <h3>Results for '<!-- TMPL_VAR NAME="search" -->'</h3>
        <!-- TMPL_IF NAME="results_loop" -->
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <!-- TMPL_LOOP NAME="results_loop" -->
                <tr>
                  <td><!-- TMPL_VAR NAME="surname" -->, <!-- TMPL_VAR NAME="firstname" --></td>
                  <td><a href="/cgi-bin/koha/reports/late_returns.pl?op=execute&borrowernumber=<!-- TMPL_VAR NAME='borrowernumber' -->">Choose</a></td>
                </tr>
              <!-- /TMPL_LOOP -->
            </tbody>
          </table>
        <!-- TMPL_ELSE -->
          <p>There is no borrowers named like '<!-- TMPL_VAR NAME="search" -->'</p>
          <p><a href="/cgi-bin/koha/reports/late_returns.pl">Make a new search</a></p>
        <!-- /TMPL_IF -->
      <!-- /TMPL_IF --> <!-- /display_borrowers_search_results -->

      <!-- TMPL_IF NAME="display_borrowers_search_form" -->
        <h3>Search for a borrower</h3>
        <form action="" method="post">
          <input type="hidden" name="op" value="search" />
          <fieldset>
            <label for="search">Name :</label>
            <input type="text" name="search" id="search" />
            <input type="submit" value="Search" />
          </fieldset>
        </form>
      <!-- /TMPL_IF --> <!-- /display_borrowers_search_form -->
    </div>
  </div>
  <div class="yui-b">
    <!-- TMPL_INCLUDE NAME="reports-menu.inc" -->
  </div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
