<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Acquisitions &rsaquo; Invoices</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
    // Some JS
});
//]]>
</script>
</head>

<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="acquisitions-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/acqui/acqui-home.pl">Acquisitions</a> &rsaquo; Invoices</div>

<div id="doc3" class="yui-t2">

<div id="bd">
  <div id="yui-main">
    <div class="yui-b">
      <h1>Invoices</h1>

      <!-- PAGE CONTENT GOES HERE -->

    </div>
  </div>
  <div class="yui-b">
    <form action="" method="get">
      <fieldset class="brief">
        <h3>Search filters</h3>
        <ol>
          <li>
            <label for="invoicenumber">Invoice no:</label>
            <input type="text" id="invoicenumber" name="invoicenumber" />
          </li>
          <li>
            <label for="supplier">Supplier:</label>
            <select id="supplier" name="supplier">
              <option value="">All</option>
              <!-- TMPL_LOOP NAME="suppliers_loop" -->
                <!-- TMPL_IF NAME="selected" -->
                  <option selected="selected" value="<!-- TMPL_VAR NAME='supplierid' -->"><!-- TMPL_VAR NAME="suppliername" --></option>
                <!-- TMPL_ELSE -->
                  <option value="<!-- TMPL_VAR NAME='supplierid' -->"><!-- TMPL_VAR NAME="suppliername" --></option>
                <!-- /TMPL_IF -->
              <!-- /TMPL_LOOP -->
            </select>
          </li>
          <li>
            <fieldset class="brief">
              <legend>Billing date</legend>
              <ol>
                <li>
                  <label for="billingdatefrom">From:</label>
                  <input type="text" id="billingdatefrom" name="billingdatefrom" size="10" />
                  <img id="billingdatefromCalendar" alt="Show Calendar" style="cursor:pointer;" src="/intranet-tmpl/prog/en/lib/calendar/cal.gif" />
                </li>
                <li>
                  <label for="billingdateto">To:</label>
                  <input type="text" id="billingdateto" name="billingdateto" size="10" />
                  <img id="billingdatetoCalendar" alt="Show Calendar" style="cursor:pointer;" src="/intranet-tmpl/prog/en/lib/calendar/cal.gif" />
                </li>
              </ol>
            </fieldset>
          </li>
          <li>
            <label for="isbnean">ISBN / EAN:</label>
            <input type="text" id="isbnean" name="isbnean" />
          </li>
          <li>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" />
          </li>
          <li>
            <label for="author">Author:</label>
            <input type="text" id="author" name="author" />
          </li>
          <li>
            <label for="publisher">Publisher:</label>
            <input type="text" id="publisher" name="publisher" />
          </li>
          <li>
            <label for="publicationyear">Publication year:</label>
            <input type="text" id="publicationyear" name="publicationyear" />
          </li>
          <li>
            <label for="branch">Branch:</label>
            <select id="branch" name="branch">
              <option value="">All</option>
              <!-- TMPL_LOOP NAME="branches_loop" -->
                <!-- TMPL_IF NAME="selected" -->
                  <option selected="selected" value="<!-- TMPL_VAR NAME='branchcode' -->"><!-- TMPL_VAR NAME="branchname" --></option>
                <!-- TMPL_ELSE -->
                  <option value="<!-- TMPL_VAR NAME='branchcode' -->"><!-- TMPL_VAR NAME="branchname" --></option>
                <!-- /TMPL_IF -->
              <!-- /TMPL_LOOP -->
            </select>
          </li>
        </ol>
        <fieldset class="action">
            <input type="submit" value="Search" />
        </fieldset>
      </fieldset>
    </form>
    <!-- TMPL_INCLUDE NAME="acquisitions-menu.inc" -->
  </div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
