<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Acquisitions &rsaquo; Search Existing Records</title>
<!-- TMPL_INCLUDE NAME="greybox.inc" -->
<link rel="stylesheet" type="text/css" href="<!-- TMPL_VAR NAME='themelang' -->/css/datatables.css" />
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript" src="<!-- TMPL_VAR NAME='themelang' -->/lib/jquery/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="<!-- TMPL_VAR NAME='themelang' -->/js/datatables.js"></script>
<script type="text/javascript">
//<![CDATA[
var dt_orders;

function filter() {
    dt_orders.fnDraw();
    return false;
}

function clearFilters() {
    $("input.filter").val('');
    dt_orders.fnDraw();
}

$(document).ready(function() {
    dt_orders = $("#orderst").dataTable($.extend(true, {}, dataTablesDefaults, {
        'bAutoWidth': false,
        'bProcessing': true,
        'bServerSide': true,
        'sAjaxSource': '/cgi-bin/koha/acqui/tables/orders.pl',
        'fnServerData': function(sSource, aoData, fnCallback) {
            $("input.filter").each(function() {
                if($(this).val() && $(this).attr('data-indexname')) {
                    aoData.push({
                        'name' : 'filters',
                        'value': $(this).attr('data-indexname')
                    },{
                        'name' : 'filters_values',
                        'value': $(this).val()
                    });
                }
            });

            aoData.push({
                'name' : 'booksellerid',
                'value': '<!-- TMPL_VAR NAME="booksellerid" -->'
            },{
                'name' : 'basketno',
                'value': '<!-- TMPL_VAR NAME="basketno" -->'
            },{
                'name' : 'query',
                'value': '<!-- TMPL_VAR NAME="query" -->',
            },{
                'name' : 'summary_sorton',
                'value': 'title'
            });
            $.ajax({
                "dataType": 'json',
                "type": "POST",
                "url": sSource,
                "data": aoData,
                "success": fnCallback
            });
        },
        'aoColumns': [
            { "mDataProp": "summary" },
            { "mDataProp": "publisher", "bSortable": false },
            { "mDataProp": "copyright", "bSortable": false, "bSearchable": false },
            { "mDataProp": "view_marc", "bSortable": false, "bSearchable": false },
            { "mDataProp": "order", "bSortable": false, "bSearchable": false }
        ],
        'aaSorting': [],
        'bFilter': false,
        'sPaginationType': 'full_numbers'
    }));

} );
//]]>
</script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="acquisitions-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/acqui/acqui-home.pl">Acquisitions</a> &rsaquo; <a href="/cgi-bin/koha/acqui/supplier.pl?supplierid=<!-- TMPL_VAR NAME="booksellerid" -->"><!-- TMPL_VAR NAME="name" --></a> &rsaquo; <a href="/cgi-bin/koha/acqui/basket.pl?supplierid=<!-- TMPL_VAR NAME="booksellerid" -->">Add to Order</a> &rsaquo; Search Existing Records</div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">

<h1>Search Existing Records</h1>

<p>Query is: <strong><!-- TMPL_VAR NAME='query' --></strong></p>

<form onsubmit="return filter();">
    <fieldset class="rows">
        <legend>Filters</legend>
        <ol>
            <li>
                <label for="title_filter">Title:</label>
                <input type="text" id="title_filter" class="filter" data-indexname="title" />
            </li>
            <li>
                <label for="author_filter">Author:</label>
                <input type="text" id="author_filter" class="filter" data-indexname="author" />
            </li>
            <li>
                <label for="publisher_filter">Publisher:</label>
                <input type="text" id="publisher_filter" class="filter" data-indexname="publisher" />
            </li>
            <li>
                <label for="subject_filter">Subject:</label>
                <input type="text" id="subject_filter" class="filter" data-indexname="subject" />
            </li>
            <li>
                <label for="isbn_filter">ISBN:</label>
                <input type="text" id="isbn_filter" class="filter" data-indexname="isbn" />
            </li>
            <li>
                <label for="series_filter">Series:</label>
                <input type="text" id="series_filter" class="filter" data-indexname="title-series" />
            </li>
            <li>
                <label for="callnumber_filter">Call number:</label>
                <input type="text" id="callnumber_filter" class="filter" data-indexname="callnumber" />
            </li>
        </ol>
        <fieldset class="action">
            <input type="submit" value="Filter" />
            <input type="button" value="Clear" onclick="clearFilters();" />
        </fieldset>
    </fieldset>
</form>

<div class="spacer"></div>

<div class="searchresults">
    <table id="orderst" class="display">
        <thead>
            <tr>
               <th>Summary</th>
               <th>Publisher</th>
               <th>Copyright</th>
               <th>&nbsp;</th>
               <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div class="spacer"></div>
</div>

<fieldset id="acqui_basket_add">
        <legend>Add To Order</legend>
        <form action="/cgi-bin/koha/acqui/neworderbiblio.pl" method="post">
            <input type="hidden" name="booksellerid" value="<!-- TMPL_VAR NAME="booksellerid" -->" />
            <input type="hidden" name="basketno" value="<!-- TMPL_VAR NAME="basketno" -->" />
            <input type="hidden" name="idx" value="all_fields" />            
            <ul><li><label for="q">From an existing record: </label><input id="q" type="text"  size="25" name="q" />
            <input type="submit" class="submit" value="Search" /></li>
            <li><a href="/cgi-bin/koha/acqui/newordersuggestion.pl?booksellerid=<!-- TMPL_VAR NAME="booksellerid" -->&amp;basketno=<!-- TMPL_VAR NAME="basketno" -->">From a Suggestion</a></li>
            <li><a href="/cgi-bin/koha/acqui/neworderempty.pl?booksellerid=<!-- TMPL_VAR NAME="booksellerid" -->&amp;basketno=<!-- TMPL_VAR NAME="basketno" -->">From a new (empty) record</a></li>
            </ul>
        </form>
    </fieldset>

</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="acquisitions-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
