<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Acquisitions &rsaquo; Receipt summary for : <!-- TMPL_VAR NAME="name" --> <!-- TMPL_IF NAME="invoice" -->invoice, <!-- TMPL_VAR NAME="invoice" --><!-- /TMPL_IF --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript" src="<!-- TMPL_VAR NAME='themelang' -->/js/additem.js"> </script>
<script type="text/javascript">
//<![CDATA[
function UpdateQty(form) {
    var count = $(form).find("#items tbody :checked").length;
    $(form).find("input[name='quantityrec']")[0].value = count;
}

function Check(form) {
    <!-- TMPL_IF NAME="AcqCreateItemOrdering" -->
        var qty = $(form).find("input[name='quantityrec']")[0].value;
        if(qty == 0){
            alert("You have not checked any items.");
            return false;
        }
    <!-- /TMPL_IF -->

    // Remove last itemblock if it is not in items_list
    var lastitemblock = $("#outeritemblock > div:last");
    var tobedeleted = true;
    var listitems = $("#items_list li");
    $(listitems).each(function(){
        if($(this).attr('idblock') == $(lastitemblock).attr('id')){
            tobedeleted = false;
        }
    });
    if(tobedeleted){
        $(lastitemblock).remove();
    }

    if(check_additem() == false){
        alert(_('Duplicate values detected. Please correct the errors and resubmit.') );
        return false;
    };

    return true;
}

$(document).ready(function() {
    <!-- TMPL_IF NAME="AcqCreateItemOrdering" -->
        UpdateQty($("#recv_form"));
    <!-- TMPL_ELSE -->
        $('#to_cloned').hide();
        var clone = $('#itemblock').clone();
        var random = Math.floor(Math.random()*100000);
        $(clone).attr('id', 'itemblock' + random);
        $('#to_cloned').append(clone);
    <!-- /TMPL_IF -->
});
//]]>
</script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="acquisitions-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/acqui/acqui-home.pl">Acquisitions</a> &rsaquo; <a href="/cgi-bin/koha/acqui/supplier.pl?supplierid=<!-- TMPL_VAR NAME="supplierid" -->"><!-- TMPL_VAR NAME="name" --></a> &rsaquo; Receive items from : <!-- TMPL_VAR NAME="name" --> <!-- TMPL_IF NAME="invoice" -->[<!-- TMPL_VAR NAME="invoice" -->]<!-- /TMPL_IF --> (order #<!-- TMPL_VAR NAME="ordernumber" -->)</div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">

<h1>Receive items from : <!-- TMPL_VAR NAME="name" --> <!-- TMPL_IF NAME="invoice" -->[<!-- TMPL_VAR NAME="invoice" -->] <!-- /TMPL_IF --> (order #<!-- TMPL_VAR NAME="ordernumber" -->)</h1>
<div class='error' style="display:none;"></div>
<!-- TMPL_IF name="suggestionid" -->
    <br/>
    <div class='suggestion_info'>Suggested by <!-- TMPL_VAR NAME="surnamesuggestedby" --><!-- TMPL_IF name="firstnamesuggestedby" -->,<!-- /TMPL_IF --> <!-- TMPL_VAR NAME="firstnamesuggestedby" --> (from <a href="/cgi-bin/koha/suggestion/suggestion.pl?suggestionid=<!-- TMPL_VAR NAME="suggestionid" -->">suggestion #<!-- TMPL_VAR NAME="suggestionid" --></a>)</div>
<!-- /TMPL_IF -->

<div id="cataloguing_additem_itemlist">
    <!-- TMPL_IF name="item_loop" -->
        <div>
        <table>
            <tr>
                <th colspan="2">&nbsp;</th>
                <!-- TMPL_LOOP NAME="item_header_loop" -->
                    <th>
                        <!-- TMPL_VAR NAME="header_value" -->
                    </th>
                <!-- /TMPL_LOOP -->
            </tr>
                <!-- TMPL_LOOP NAME="item_loop" -->
                <tr id="row<!-- TMPL_VAR NAME="itemnumber" -->">
                    <!-- TMPL_IF Name="nomod"--> <td colspan="2">&nbsp;</td><!--TMPL_ELSE--><td><a href="additem.pl?op=edititem&amp;biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->&amp;itemnumber=<!-- TMPL_VAR NAME="itemnumber" -->#edititem">Edit</a></td>
                    <td><a class="delete" href="/cgi-bin/koha/cataloguing/additem.pl?op=delitem&amp;biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->&amp;itemnumber=<!-- TMPL_VAR NAME="itemnumber" -->" onclick="confirm_deletion(<!-- TMPL_VAR NAME="biblionumber" -->,<!-- TMPL_VAR NAME="itemnumber" -->); return false;">Delete</a></td><!--/TMPL_IF-->
                <!-- TMPL_LOOP NAME="item_value" -->
                    <td><!-- TMPL_VAR ESCAPE=HTML NAME="field" --></td>
                <!-- /TMPL_LOOP -->
                </tr>
                <!-- /TMPL_LOOP -->
        </table>
        </div>
    <!-- /TMPL_IF -->
</div>


<!-- TMPL_IF name="count" -->
    <div id="to_cloned"></div>
    <form id="recv_form" action="/cgi-bin/koha/acqui/finishreceive.pl" method="post" onsubmit="return Check(this.form);">
<div class="yui-g">
<div class="yui-u first">
    
    <fieldset class="rows">
    <legend>Catalog Details</legend>
    <ol><li><span class="label">Title: </span><span class="title"><!-- TMPL_VAR NAME="title" escape="html" --></span></li>
    <li> <span class="label">Author: </span>
        <!-- TMPL_VAR NAME="author" --></li>
    <li><span class="label">Copyright: </span>
        <!-- TMPL_VAR NAME="copyrightdate" --></li>
    <li> <span class="label">ISBN: </span>
        <!-- TMPL_VAR NAME="isbn" --></li>
    <li> <span class="label">Series: </span>
        <!-- TMPL_VAR NAME="seriestitle" --></li>
    </ol>
	</fieldset>
    <!-- TMPL_IF name="suggestionid" -->
        <fieldset class="rows">
        <legend>Suggestion</legend>
        <ol><li><span class="label">Suggested by <!-- TMPL_VAR NAME="surnamesuggestedby" --><!-- TMPL_IF name="firstnamesuggestedby" -->,<!-- /TMPL_IF --> <!-- TMPL_VAR NAME="firstnamesuggestedby" --> (from <a href="/cgi-bin/koha/suggestion/suggestion.pl?suggestionid=<!-- TMPL_VAR NAME="suggestionid" -->">suggestion #<!-- TMPL_VAR NAME="suggestionid" --></a>)</span></li></ol>
        </fieldset>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="AcqCreateItemOrdering" -->
        <!-- TMPL_IF NAME="items" -->
        <fieldset class="rows">
            <legend>Items</legend>
            <table id="items">
              <thead>
                <tr>
                  <th>Receive?</th>
                  <th>Barcode</th>
                  <th>Home branch</th>
                  <th>Holding branch</th>
                  <th>Notes</th>
                </tr>
              </thead>
              <tbody>
                <!-- TMPL_LOOP NAME="items" -->
                <tr>
                  <td><input type="checkbox" name="receive_for" value="<!-- TMPL_VAR NAME='itemnumber' -->" onchange="UpdateQty(this.form);" /></td>
                  <td><!-- TMPL_VAR NAME="barcode" --></td>
                  <td><!-- TMPL_VAR NAME="homebranch" --></td>
                  <td><!-- TMPL_VAR NAME="holdingbranch" --></td>
                  <td><!-- TMPL_VAR NAME="itemnotes" --></td>
                </tr>
                <!-- /TMPL_LOOP -->
              </tbody>
            </table>
        </fieldset>
        <!-- /TMPL_IF --> <!-- items -->
    <!-- TMPL_ELSE -->
    <!-- TMPL_IF name="items" -->
    <fieldset class="rows" id="items_list" style="display:none">
        <a name="items"><legend>Items list</legend></a>
        <ul/>
    </fieldset>
    <fieldset class="rows">
        <legend>Item</legend>
        <!-- TMPL_IF name="NoACQframework" -->
            <p class="required">No ACQ framework, using default. You should create a framework with code ACQ, the items framework would be used</p>
        <!-- /TMPL_IF -->

        <!-- TMPL_LOOP NAME="items" -->
        <div id="outeritemblock">
        <div id="itemblock">
            <ol>
            <!-- TMPL_LOOP NAME="iteminformation" -->
                <li>
                <div class="subfield_line" style="<!-- TMPL_VAR NAME='hidden' -->;" id="subfield<!-- TMPL_VAR NAME='serialid' --><!-- TMPL_VAR NAME='countitems' --><!-- TMPL_VAR NAME='subfield' --><!-- TMPL_VAR name="random" -->">
                                
                    <label><!-- TMPL_VAR NAME="subfield" --> - <!-- TMPL_IF name="mandatory" --><b><!-- /TMPL_IF --><!-- TMPL_VAR NAME="marc_lib" --><!-- TMPL_IF name="mandatory" --> *</b><!-- /TMPL_IF --></label>
                    <!-- TMPL_VAR NAME="marc_value" -->
                    <input type="hidden" name="itemid" value="1" />
                    <input type="hidden" name="kohafield" value="<!-- TMPL_VAR NAME="kohafield" -->" />
                    <input type="hidden" name="tag" value="<!-- TMPL_VAR NAME="tag" -->" />
                    <input type="hidden" name="subfield" value="<!-- TMPL_VAR NAME="subfield" -->" />
                    <input type="hidden" name="mandatory" value="<!-- TMPL_VAR NAME="mandatory" -->" />
                    <!-- TMPL_IF NAME="ITEM_SUBFIELDS_ARE_NOT_REPEATABLE" -->
                        <span class="buttonPlus" onclick="CloneSubfield('subfield<!-- TMPL_VAR NAME='serialid' --><!-- TMPL_VAR NAME='countitems' --><!-- TMPL_VAR NAME='subfield' --><!-- TMPL_VAR name="random" -->')">+</span>
                    <!-- /TMPL_IF -->
                </div>
                </li>
            <!-- /TMPL_LOOP-->
            </ol>
            <a name="buttonPlus" style="cursor: pointer; color: grey; font-size: 180%;" onclick="addItem(this)">+</a>
            <a name="buttonClear" class='buttonClear' style="cursor: pointer; color: grey; font-size: 180%;" onclick="clearItemBlock(this)">Clear</a>
        </div><!-- /iteminformation -->
        </div>

        <input type="hidden" name="moditem" value="" /> 
        <input type="hidden" name="tag" value="<!-- TMPL_VAR NAME="itemtagfield" -->" />
        <input type="hidden" name="subfield" value="<!-- TMPL_VAR NAME="itemtagsubfield" -->" />
        <input type="hidden" name="serial" value="<!-- TMPL_VAR NAME="serialid" -->" />
        <input type="hidden" name="bibnum" value="<!-- TMPL_VAR NAME="biblionumber" -->" />
        <input type="hidden" name="itemid" value="1" />
        <input type="hidden" name="field_value" value="<!-- TMPL_VAR NAME="itemnumber" -->" />

        <!--/TMPL_LOOP--> <!-- /items -->
    </fieldset>
    <!-- /TMPL_IF --> <!-- items -->
    <!-- /TMPL_IF --> <!-- AcqCreateItemOrdering -->
    <input type="hidden" name="biblionumber" value="<!-- TMPL_VAR NAME="biblionumber" -->" />
    <input type="hidden" name="ordernumber" value="<!-- TMPL_VAR NAME="ordernumber" -->" />
    <input type="hidden" name="biblioitemnumber" value="<!-- TMPL_VAR NAME="biblioitemnumber" -->" />
    <input type="hidden" name="supplierid" value="<!-- TMPL_VAR NAME="supplierid" -->" />
    <input type="hidden" name="datereceived" value="<!-- TMPL_VAR NAME="datereceived_iso" -->" />
    <input type="hidden" name="freight" value="<!-- TMPL_VAR NAME="freight" -->" />
    <input type="hidden" name="gstrate" value="<!-- TMPL_VAR NAME="gstrate" -->" />
	</div>
	<div class="yui-u">
    <fieldset class="rows">
    <legend>Accounting details</legend>
        <ol>
        <li><label for="datereceived">Date received: </label><span class="label"> <!-- TMPL_VAR NAME="datereceived" --> </span></li>
        <li>
            <label for="quantityto">Quantity to receive: </label>
            <span class="label">
                <input type="text" id="quantity_to_receive" name="quantity" value="<!-- TMPL_VAR NAME="quantity" -->" <!-- TMPL_IF name="edit" --> READONLY <!-- /TMPL_IF -->/>
            </span>
        </li>
        <li><label for="quantity">Quantity received: </label>
            <!-- TMPL_IF NAME="quantityreceived" -->
                <!-- TMPL_IF name="edit" -->
                    <input type="text" size="20" name="quantityrec" id="quantity" value="<!-- TMPL_VAR NAME="quantityreceived" -->" />
                    <input id="origquantityrec" READONLY type="hidden" name="origquantityrec" value="<!-- TMPL_VAR NAME="quantityreceived" -->" />
                <!-- TMPL_ELSE -->
                <!-- TMPL_IF name="items" -->
                    <input READONLY type="text" size="20" name="quantityrec" id="quantity" value="<!-- TMPL_VAR NAME="quantityreceivedplus1" -->" />
                <!-- TMPL_ELSE -->
                    <input type="text" size="20" name="quantityrec" id="quantity" value="<!-- TMPL_VAR NAME="quantityreceivedplus1" -->" />
                <!-- /TMPL_IF -->
                <input id="origquantityrec" READONLY type="hidden" name="origquantityrec" value="<!-- TMPL_VAR NAME="quantityreceived" -->" />
                <!-- /TMPL_IF -->
            <!-- TMPL_ELSE -->
                <!-- TMPL_IF name="items" -->
                    <input READONLY type="text" id="quantity" size="20" name="quantityrec" value="0" />
                <!-- TMPL_ELSE -->
                    <input type="text" size="20" id="quantity" name="quantityrec" value="0" />
                <!-- /TMPL_IF -->
                <input id="origquantityrec" READONLY type="hidden" name="origquantityrec" value="0" />
            <!-- /TMPL_IF -->
        </li>
    <li><label for="budget">Budget: </label><input id="budget" name="budget" type="text" disabled="disabled" value="<!-- TMPL_VAR NAME="budget_name" -->" /></li>
        <li><label for="rrp">Replacement cost: </label><input type="text" size="20" name="rrp" id="rrp" value="<!-- TMPL_VAR NAME="rrp" -->" /></li>
        <li><label for="ecost">Budgeted cost: </label><input type="text" size="20" name="ecost" id="ecost" value="<!-- TMPL_VAR NAME="ecost" -->" /></li>
        <li><label for="cost">Actual cost:</label>
        <!-- TMPL_IF name="unitprice"-->
         <input type="text" size="20" name="cost" id="cost" value="<!-- TMPL_VAR NAME="unitprice" -->" />
        <!-- TMPL_ELSE -->
            <input type="text" size="20" name="cost" id="cost" value="<!-- TMPL_VAR name="ecost" -->" />
        <!-- /TMPL_IF --></li></ol>
        <label for="note">Notes: </label><textarea name="note" width="40" rows="8" ><!--TMPL_VAR name="notes" --></textarea>
        <input type="hidden" name="invoice" value="<!-- TMPL_VAR NAME="invoice" -->" />
    </fieldset>

</div>
</div><div class="yui-g"><fieldset class="action">
        <input type="submit" value="Save" />
        <a class="cancel" href="/cgi-bin/koha/acqui/parcel.pl?supplierid=<!-- TMPL_VAR NAME="supplierid" -->&amp;invoice=<!-- TMPL_VAR NAME="invoice" -->&amp;gstrate=<!-- TMPL_VAR NAME="gstrate" -->&amp;freight=<!-- TMPL_VAR NAME="freight" -->">Cancel</a>
</fieldset></div>    </form>
<!-- TMPL_ELSE -->
<div id="acqui_acquire_orderlist">
    <table>
    <tr>
        <th>Basket</th>
        <th>ISBN</th>
        <th>Title</th>
        <th>Author</th>
        <th>Qty</th>
        <th>Received</th>
    </tr>
    <!-- TMPL_LOOP name="loop" -->
        <tr>
            <td><!-- TMPL_VAR NAME="basketno" --></td>
            <td><!-- TMPL_VAR NAME="isbn" --></td>
         <td><a href="orderreceive.pl?datereceived=<!-- TMPL_VAR NAME="datereceived" -->&amp;receive=<!-- TMPL_VAR NAME="ordernumber" -->&amp;biblio=<!-- TMPL_VAR NAME="biblionumber" -->&amp;invoice=<!-- TMPL_VAR NAME="invoice" -->&amp;freight=<!-- TMPL_VAR NAME="freight" -->&amp;gstrate=<!-- TMPL_VAR NAME="gstrate" -->&amp;id=<!-- TMPL_VAR NAME="id" -->"><!-- TMPL_VAR NAME="title" escape="html" --></a></td>
            <td><!-- TMPL_VAR NAME="author" --></td>
            <td><!-- TMPL_VAR NAME="quantity" --></td>
            <td><!-- TMPL_VAR NAME="quantityreceived" --></td>
        </tr>
    <!-- /TMPL_LOOP -->
    </table>
</div>
<!-- /TMPL_IF -->

</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="acquisitions-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
