<ol>
  <!-- TMPL_LOOP NAME="iteminformation" -->
    <li>
      <div class="subfield_line" style="<!-- TMPL_VAR NAME='hidden' -->;" id="subfield<!-- TMPL_VAR NAME='serialid' --><!-- TMPL_VAR NAME='countitems' --><!-- TMPL_VAR NAME='subfield' --><!-- TMPL_VAR name="random" -->">
        <label><!-- TMPL_VAR NAME="subfield" --> - <!-- TMPL_IF name="mandatory" --><b><!-- /TMPL_IF --><!-- TMPL_VAR NAME="marc_lib" --><!-- TMPL_IF name="mandatory" --> *</b><!-- /TMPL_IF --></label>
        <!-- TMPL_VAR NAME="marc_value" -->
        <input type="hidden" name="itemid" value="1" />
        <input type="hidden" name="kohafield" value="<!-- TMPL_VAR NAME="kohafield" -->" />
        <input type="hidden" name="tag" value="<!-- TMPL_VAR NAME="tag" -->" />
        <input type="hidden" name="subfield" value="<!-- TMPL_VAR NAME="subfield" -->" />
        <input type="hidden" name="mandatory" value="<!-- TMPL_VAR NAME="mandatory" -->" />
      </div>
    </li>
  <!-- /TMPL_LOOP-->
</ol>
