{
    "sEcho": "<!-- TMPL_VAR NAME='sEcho' -->",
    "iTotalRecords": "<!-- TMPL_VAR NAME='iTotalRecords' -->",
    "iTotalDisplayRecords": "<!-- TMPL_VAR NAME='iTotalDisplayRecords' -->",
    "aaData": [
        <!-- TMPL_LOOP NAME='aaData' -->
            {
                "date_due":
                    "<span <!-- TMPL_IF NAME='overdue' --> class='od' <!-- /TMPL_IF --> > <!-- TMPL_VAR NAME='date_due' --></span>",

                "title":
                    "<a href=\"/cgi-bin/koha/catalogue/detail.pl?biblionumber=<!-- TMPL_VAR NAME='biblionumber' -->\"><strong><!-- TMPL_VAR NAME='title' ESCAPE='html'--></strong></a><!-- TMPL_IF NAME='author' -->, by <!-- TMPL_VAR NAME='author' ESCAPE='html'--><!-- /TMPL_IF --> <!-- TMPL_IF NAME='itemnotes' --> - <span class=\"circ-hlt\"><!-- TMPL_VAR NAME='itemnotes' ESCAPE='html'--></span><!-- /TMPL_IF --> <a href=\"/cgi-bin/koha/catalogue/moredetail.pl?biblionumber=<!-- TMPL_VAR NAME='biblionumber' -->&itemnumber=<!-- TMPL_VAR NAME='itemnumber' ESCAPE='html'-->#item<!-- TMPL_VAR NAME='itemnumber' ESCAPE='html'-->\"><!-- TMPL_VAR NAME='barcode' ESCAPE='html'--></a>",

                "itemtype_description":
                    "<!-- TMPL_UNLESS NAME='noItemTypeImages' --><!-- TMPL_IF NAME='imageurl' --><img src=\"<!-- TMPL_VAR NAME='imageurl' -->\" /><!-- /TMPl_IF --><!-- /TMPL_UNLESS --><!-- TMPL_VAR NAME='itemtype_description' ESCAPE='html'-->",

                "location_description":
                    "<!-- TMPL_VAR NAME='location' ESCAPE='html'--> <!-- TMPL_IF NAME='location_description' -->(<!-- TMPL_VAR NAME='location_description' ESCAPE='html'-->)<!-- /TMPL_IF -->",

                "branchname":
                    "<!-- TMPL_VAR NAME='branchname' ESCAPE='html'--> <!-- TMPL_IF NAME='itemcallnumber' -->(<!-- TMPL_VAR NAME='itemcallnumber' ESCAPE='html'-->)<!-- /TMPL_IF -->",

                "issuedate":
                    "<!-- TMPL_VAR NAME='issuedate' ESCAPE='html'-->",

                "charge":
                    "<!-- TMPL_VAR NAME='charge' ESCAPE='html'-->",

                "materials":
                    "<!-- TMPL_VAR NAME='materials' ESCAPE='html'-->",

                "renewals":
                    "<span style=\"padding: 0 1em\"><!-- TMPL_IF NAME='renew_error_too_many' --><span class=\"problem\"><!-- /TMPL_IF --><!-- TMPL_VAR NAME='renewals' -->/<!-- TMPL_VAR NAME='renewalsallowed' --><!-- TMPL_IF NAME='renew_error_too_many' --></span><!-- /TMPL_IF --></span><!-- TMPL_UNLESS NAME='can_renew' --><span class\"renewals-allowed\" style=\"display: none\"><!-- /TMPL_UNLESS --><input type=\"checkbox\" id=\"renew_<!-- TMPL_VAR NAME='itemnumber' -->\" name=\"items[]\" value=\"<!-- TMPL_VAR NAME='itemnumber' ESCAPE='html'-->\" /><!-- TMPL_UNLESS NAME='can_renew' --></span><!-- /TMPL_UNLESS --> <!-- TMPL_IF NAME='renew_error' --><br /><span class=\"renewals-disabled problem\"><!-- TMPL_IF NAME='renew_error_on_reserve' --> On Hold <!-- /TMPL_IF --><!-- TMPL_IF NAME='renew_error_overdue' --> Overdue <!-- /TMPL_IF --><!-- TMPL_IF NAME='renew_error_too_many' --> Not Renewable <!-- /TMPL_IF --></span><!-- /TMPL_IF -->",

                "checkin":
                    "<!-- TMPL_IF NAME='return_failed' -->Checkin Failed<!-- TMPL_ELSE --><input type=\"checkbox\" id=\"return_<!-- TMPL_VAR NAME='itemnumber' -->\" name=\"barcodes[]\" value=\"<!-- TMPL_VAR NAME='barcode' ESCAPE='html'-->\" /> <!-- TMPL_IF NAME='reserved' --><br /><a href=\"javascript:void(0);\" onclick=\"window.open('/cgi-bin/koha/reserve/request.pl?biblionumber=<!-- TMPL_VAR NAME='biblionumber' -->')\">On Hold</a><!-- /TMPL_IF --><!-- /TMPL_IF -->",

                "export":
                    "<input type=\"checkbox\" id=\"export_<!-- TMPL_VAR NAME='biblionumber' -->\" name=\"biblionumbers\" value=\"<!-- TMPL_VAR NAME='biblionumber' -->\" />"

            }<!-- TMPL_UNLESS NAME='__last__' -->,<!-- /TMPL_UNLESS -->
        <!-- /TMPL_LOOP -->
    ]
}
