<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; SKELETON &rsaquo; PAGE</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
    // Some JS
});
//]]>
</script>
</head>

<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="SKELETON-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/SKELETON/MAINPAGE.pl">SKELETON</a> &rsaquo; PAGE</div>

<div id="doc3" class="yui-t2">

<div id="bd">
  <div id="yui-main">
    <div class="yui-b">
      <!-- TMPL_INCLUDE NAME="SKELETON-toolbar.inc" -->
      <h1>PAGE TITLE</h1>

      <!-- PAGE CONTENT GOES HERE -->

    </div>
  </div>
  <div class="yui-b">
    <!-- TMPL_INCLUDE NAME="SKELETON-menu.inc" -->
  </div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
