<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Catalog &rsaquo; Advanced Search</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/JavaScript" language="JavaScript">
	/**
	 *  Function add_field();
	 *  This function allows to display a new field to search.
	 */
	function add_field() {
	    var ButtonPlus = document.getElementById("ButtonPlus");
		var line = ButtonPlus.parentNode;
		var dad  = line.parentNode;
		dad.appendChild(line.cloneNode(true));
		line.removeChild(ButtonPlus);
	}

	$(document).ready(function() {
		$("input[name=q]:eq(0)").focus();
    advSearchPrepare();
    $(".advsearch").change(); //force update if back button is pushed
	});

  function advSearchPrepare () {

    $(".advsearch").each( function () {getAuthorisedValuesList($(this))});
    <!-- TMPL_LOOP NAME="indexandavlist" -->
    $(".advsearch").find("option").each(function () {
       if ($(this).val() == '<!-- TMPL_VAR NAME="code" -->' ) {
         $(this).attr("avlist", '<!-- TMPL_VAR NAME="avlist" -->');
       }
    });
    <!-- /TMPL_LOOP -->
    $(".advsearch").change( function () {getAuthorisedValuesList($(this))});
  }
</script>
<script type="text/javascript" src="<!-- TMPL_VAR NAME='themelang' -->/js/catalogue.js"></script>
</head>
<body>

<!-- TMPL_INCLUDE NAME="header.inc" -->
<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; Advanced Search</div>

<div id="doc" class="yui-t7">
   <div id="bd">
	
<form action="search.pl" method="get">
<div id="advanced-search">
<h1>Advanced Search</h1>

<!-- BOOLEAN SEARCH OPTIONS -->
    <fieldset>
    <legend>Search For: </legend>
    <!-- TMPL_LOOP NAME="search_boxes_loop" -->
        <!-- TMPL_IF NAME="search_boxes_label" -->
            <div style="text-indent: 4.5em;">
        <!-- TMPL_ELSE -->
            <div>
        <!-- /TMPL_IF -->
        <!-- TMPL_IF NAME="expanded_options" -->
            <!-- TMPL_IF NAME="boolean" -->
                <select class="advsearchoperator" name="op">
                    <option value="and" selected="selected">and</option>
                    <option value="or">or</option>
                    <option value="not">not</option>
                </select>
            <!-- /TMPL_IF --> 
        <!-- /TMPL_IF -->
        <!-- TMPL_IF NAME="AdvancedSearchContent" --><!--TMPL_VAR Name="AdvancedSearchContent"--><!-- TMPL_ELSE --><!-- TMPL_INCLUDE NAME="search_indexes.inc" --><!-- /TMPL_IF -->
        <div class="avlist" style="display:inline" value="-"></div>
        <input type="text" size="30" name="q" title="Enter search terms" value="" />
        <!-- TMPL_IF NAME="expanded_options" -->
            <!-- TMPL_IF NAME="add_field" -->
                <a href="JavaScript:add_field();" id="ButtonPlus" title="Add another field">[+]</a>
            <!-- /TMPL_IF -->
        <!-- /TMPL_IF -->
        </div>
    <!-- /TMPL_LOOP -->
    </fieldset>
<!-- /BOOLEAN SEARCH OPTIONS -->

    <div id="itemtypelist">
<!-- ITEMTYPE LIMITS -->
	<fieldset>
    <legend>Limit to any of the following:</legend>

    <table>
        <tr>
        <!--TMPL_LOOP Name="itemtypeloop"-->
            <td>
                <input type="checkbox" id="<!-- TMPL_VAR NAME="indexname" -->-<!--TMPL_VAR NAME="number" -->" name="filters" value='<!-- TMPL_VAR NAME="indexname" -->:<!--TMPL_VAR NAME="code" -->'/>
                <label for="<!-- TMPL_VAR NAME="indexname" -->-<!--TMPL_VAR NAME="number" -->">
                    <!-- TMPL_IF name="imageurl"-->
                    <img border="0" src="<!--TMPL_VAR Name="imageurl" -->" alt="<!--TMPL_VAR Name="description" -->" /><!-- /TMPL_IF -->&nbsp;
                    <!--TMPL_VAR Name="description" -->
                </label>
            </td>
            <!-- TMPL_UNLESS name="count5" --><!-- TMPL_UNLESS name="__last__" --></tr><tr><!-- /TMPL_UNLESS --><!-- /TMPL_UNLESS -->
        <!--/TMPL_LOOP-->
        </tr>
    </table>
	</fieldset>
<!-- /ITEMTYPE LIMITS -->
    </div>

<div id="basiclimits" class="container">
<!-- BASIC LIMITS -->
 <fieldset>
	<legend>Limits:</legend>
<div id="pubrange" class="container">
<!-- PUB / COPY YEAR LIMIT --><!-- FIXME: add publication,copyright,acquisition options -->
	<p><label for="limit-yr">Year: </label>
		<input size="15" name="limit-yr" id="" value=""/>&nbsp;&nbsp;(format: yyyy-yyyy)</p>
<!-- /PUB / COPY YEAR LIMIT -->
</div>
<div id="language" class="container">
<!-- LANGUAGE LIMIT -->
    <p>
        <label for="filters">Language: </label>
        <select name="filters">
            <option value="" selected="selected">No Limit</option>
                <!-- TMPL_LOOP NAME="search_languages_loop" -->
                    <option value='<!-- TMPL_VAR NAME="lang_indexname" -->:"<!-- TMPL_VAR NAME="authorised_value" -->"' <!-- TMPL_IF NAME="selected" -->selected="selected"<!-- /TMPL_IF -->>
                        <!-- TMPL_VAR NAME="lib" -->
                    </option>
                <!-- /TMPL_LOOP -->
        </select>
    </p>
</div>
</fieldset>
<!-- /LANGUAGE LIMIT -->
<!-- /BASIC LIMITS -->
</div>


<!-- Not used / developped currently
<!-- TMPL_IF NAME="UNIMARC" -->
    <!-- TMPL_INCLUDE NAME="subtypes_unimarc.inc" -->
<!-- TMPL_ELSE -->
    <!-- TMPL_INCLUDE NAME="subtypes_usmarc.inc" -->
<!-- /TMPL_IF -->

<!-- /TYPE LIMITS -->
-->

<div id="availability" class="container">
<!-- AVAILABILITY LIMITS -->
    <fieldset><legend>Location and availability: </legend>
<div id="currently-avail" class="container">
    <label for="available-items">Only items currently available</label> <input type="checkbox" id="available-items" name="filters" value="<!-- TMPL_VAR NAME="availability_indexname" -->:1" />
</div>
<p />
<div id="select-libs" class="container">
        <label for="branchloop">Individual Libraries:</label>
        <select name="filters" id="branchloop" onchange='if(this.value != ""){document.getElementById("categoryloop").disabled=true;} else {document.getElementById("categoryloop").disabled=false;}'>
            <option value="">All Libraries</option>
            <!-- TMPL_LOOP NAME="branchloop" -->
            <option value='<!-- TMPL_VAR NAME="holdingbranch_indexname" -->:"<!-- TMPL_VAR NAME="branchcode" -->"' <!--TMPL_IF NAME="selected"-->selected="selected"<!--/TMPL_IF--> >
                <!-- TMPL_VAR NAME="branchname" -->
            </option>
        <!-- /TMPL_LOOP -->
        </select>
        <!-- TMPL_IF NAME="searchdomainloop" -->
    <p>OR</p> <!-- should addjs to grey out group pulldown if a library is selected. -->
        <label for="categoryloop">Groups of Libraries</label><select name="multibranchlimit" id="categoryloop">
        <option value=""> -- none -- </option>
        <!-- TMPL_LOOP NAME="searchdomainloop" -->
        <option value="<!-- TMPL_VAR NAME="categorycode" -->"><!-- TMPL_VAR NAME="categoryname" --></option>
        <!-- /TMPL_LOOP -->
        </select>
    <!-- /TMPL_IF -->
</div>
    </fieldset>
<!-- /AVAILABILITY LIMITS -->

</div>

<!-- RANK LIMITS -->

<div id="sortby" class="container">
<fieldset><legend>Sort by: </legend>
    <p><select id="sort_by" name="sort_by">
  <!-- TMPL_INCLUDE NAME="resort_form.inc" -->
    </select>
        </p>
</fieldset>
</div>
<!-- RANK LIMITS -->

</div>


<!-- SEARCH BUTTONS -->
            <p><input class="submit" type="submit" accesskey="s" value="Search" />
            <!-- TMPL_IF NAME="expanded_options" -->
            <a href="/cgi-bin/koha/catalogue/search.pl?expanded_options=0">[Fewer Options]</a>
            <!-- TMPL_ELSE -->
            <a href="/cgi-bin/koha/catalogue/search.pl?expanded_options=1">[More options]</a>
            <!-- /TMPL_IF -->
            <a href="/cgi-bin/koha/catalogue/search.pl?do=Clear">[New search]</a> 
            </p>
<!-- /SEARCH BUTTONS -->
</form>
</div>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
