<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><title>Koha &rsaquo; Tools &rsaquo; Koha Synchronize System</title><!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->

</head>

<body>
<h1>KSS Logs</h1>
<pre><!-- TMPL_VAR NAME="logcontent" --></pre>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
