<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><title>Koha &rsaquo; Tools &rsaquo; Koha Synchronize System</title><!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript">
//<![CDATA[
     $(document).ready(function() {
        $('#ksstabs > ul').tabs();
     });
//]]>
</script>

</head>

<body>
	<!-- TMPL_INCLUDE NAME="header.inc" -->
	<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

	<div id="breadcrumbs">
		<a href="/cgi-bin/koha/mainpage.pl">Home</a>
		&rsaquo; <a href="/cgi-bin/koha/tools/tools-home.pl">Tools</a>
		&rsaquo; Koha Synchronize System
	</div>

	<div id="doc3" class="yui-t2">
		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">
<div id="ksstabs" class="toptabs">
    <ul>
	<!-- TMPL_IF NAME="master" -->
	    <li><a href="kss.pl#home">Master Home</a></li>
	    <li><a href="kss.pl#minfos">Infos</a></li>
	    <li><a href="kss.pl#mactions">Actions</a></li>
	<!-- TMPL_ELSE -->
	    <li><a href="kss.pl#home">Client Home</a></li>
	    <li><a href="kss.pl#cinfos">Infos</a></li>
	    <li><a href="kss.pl#cactions">Actions</a></li>
	<!-- /TMPL_IF -->
    </ul>
	<div id="home">
	    <h3>Home</h3>
	    <ul>
		<li>Connection test: <!-- TMPL_IF NAME="pingresult" -->success<!-- TMPL_ELSE -->failed<!-- /TMPL_IF --></li>
		<li>Next update: <!-- TMPL_IF NAME="execution_time" --><!-- TMPL_VAR NAME="execution_time" --><!-- TMPL_ELSE -->none<!-- /TMPL_IF --></li>
		<li>Last slave update:</li>
		<li>Last master update:</li>
	    </ul>


    </div>
    <!-- TMPL_IF NAME="master" -->
    <div id="minfos">
	    <h3>Master informations</h3>
	    <h3>Last synchronisation details:</h3>
	    <!-- TMPL_IF NAME="stats_loop" -->
		<!-- TMPL_LOOP NAME="stats_loop" -->
		<br />
		<h4>Client "<!-- TMPL_VAR NAME="client" -->":</h4>
		    <ul>
		      <li>Execution time: <!-- TMPL_VAR NAME="log_start" --> => <!-- TMPL_VAR NAME="log_end" --></li>
		      <li>Status: <!-- TMPL_VAR NAME="log_status" --></li>
		    </ul>
		    <!-- TMPL_IF NAME="stats" -->
			<table>
			    <caption>Statistics:</caption>
			    <thead>
				<tr>
				    <th>Issues</th>
				    <th>Reserves</th>
				    <th>Returns</th>
				</tr>
			    </thead>
			    <tbody>
			    <!-- TMPL_LOOP NAME="stats" -->
				<tr>
				    <td><!-- TMPL_VAR NAME="issue" --></td>
				    <td><!-- TMPL_VAR NAME="reserve" --></td>
				    <td><!-- TMPL_VAR NAME="return" --></td>
				</tr>
			    <!-- /TMPL_LOOP -->
			    </tbody>
			</table>
		    <!-- /TMPL_IF -->
		    <!-- TMPL_IF NAME="stats_doctype" -->
			<table>
			    <caption>Statistics per document type:</caption>
			    <thead>
				<tr>
				    <th>Document type</th>
				    <th>Number of issues</th>
				</tr>
			    </thead>
			    <tbody>
			    <!-- TMPL_LOOP NAME="stats_doctype" -->
				<tr>
				    <td><!-- TMPL_VAR NAME="doctype" --></td>
				    <td><!-- TMPL_VAR NAME="value" --></td>
				</tr>
			    <!-- /TMPL_LOOP -->
			    </tbody>
			</table>
		    <!-- /TMPL_IF -->
		    <!-- TMPL_IF NAME="stats_location" -->
			<table>
			    <caption>Statistics per location:</caption>
			    <thead>
				<tr>
				    <th>Location</th>
				    <th>Number of issues</th>
				</tr>
			    </thead>
			    <tbody>
			    <!-- TMPL_LOOP NAME="stats_location" -->
				<tr>
				    <td><!-- TMPL_VAR NAME="location" --></td>
				    <td><!-- TMPL_VAR NAME="value" --></td>
				</tr>
			    <!-- /TMPL_LOOP -->
			    </tbody>
			</table>
		    <!-- /TMPL_IF -->
	
		    <!-- TMPL_IF NAME="status" -->
		    <table>
			<caption>Status log:</caption>
			<thead>
			    <tr>
				<th>status</th>
				<th>start time</th>
				<th>end time</th>
			    </tr>
			</thead>
			<tbody>
			<!-- TMPL_LOOP NAME="status" -->
			    <tr>
				<td><!-- TMPL_VAR NAME="status" --></td>
				<td><!-- TMPL_VAR NAME="start_time" --></td>
				<td><!-- TMPL_VAR NAME="end_time" --></td>
			    </tr>
			<!-- /TMPL_LOOP -->
			</tbody>
		    </table>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF NAME="errors" -->
		    <table>
			<caption>Error log:</caption>
			<thead>
			    <tr>
				<th>error</th>
				<th>message</th>
			    </tr>
			</thead>
			<tbody>
			<!-- TMPL_LOOP NAME="errors" -->
			    <tr>
				<td><!-- TMPL_VAR NAME="error" --></td>
				<td><!-- TMPL_VAR NAME="message" --></td>
			    </tr>
			<!-- /TMPL_LOOP -->
			</tbody>
		    </table>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF NAME="sql_errors" -->
		    <table>
			<caption>SQL Error log:</caption>
			<thead>
			    <tr>
				<th>error</th>
				<th>message</th>
			    </tr>
			</thead>
			<tbody>
			<!-- TMPL_LOOP NAME="sql_errors" -->
			    <tr>
				<td><!-- TMPL_VAR NAME="error" --></td>
				<td><!-- TMPL_VAR NAME="query" --></td>
			    </tr>
			<!-- /TMPL_LOOP -->
			</tbody>
		    </table>
		<!-- /TMPL_IF -->
		<!-- /TMPL_LOOP --> <!-- END CLIENT LOOP (stats_loop) -->
	    <!-- /TMPL_IF -->

    </div>
    <div id="mactions">
	<h3>Master actions</h3>
	    <ul>
		<li>Manual sync with file : <br />
		<form>
		<label for "fileinput">Select a previously saved file:</label>
		<input type="file" />
		<input type="submit" />
		</form>
		</li>
	    </ul>

    </div>
    <!-- TMPL_ELSE -->
    <div id="cinfos">
	    <h3>Client informations</h3>
	    <h3>Last synchronisation details for <!-- TMPL_VAR NAME="hostname" -->:</h3>
		    <ul>
		      <li>Execution time: <!-- TMPL_VAR NAME="last_log_start_time" --> => <!-- TMPL_VAR NAME="last_log_end_time" --></li>
		      <li>Status: <!-- TMPL_VAR NAME="last_log_status" --></li>
		    </ul>
		<table>
		    <caption>Statistics:</caption>
		    <thead>
			<tr>
			    <th>Issues</th>
			    <th>Reserves</th>
			    <th>Returns</th>
			</tr>
		    </thead>
		    <tbody>
			<tr>
			    <td><!-- TMPL_VAR NAME="last_stats_issue" --></td>
			    <td><!-- TMPL_VAR NAME="last_stats_reserve" --></td>
			    <td><!-- TMPL_VAR NAME="last_stats_return" --></td>
			</tr>
		    </tbody>
		</table>
		<!-- TMPL_IF NAME="stats_doctype" -->
		<table>
		    <caption>Statistics per document type:</caption>
		    <thead>
			<tr>
			    <th>Document type</th>
			    <th>Number of issues</th>
			</tr>
		    </thead>
		    <tbody>
		    <!-- TMPL_LOOP NAME="stats_doctype" -->
			<tr>
			    <td><!-- TMPL_VAR NAME="doctype" --></td>
			    <td><!-- TMPL_VAR NAME="value" --></td>
			</tr>
		    <!-- /TMPL_LOOP -->
		    </tbody>
		</table>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF NAME="stats_location" -->
		<table>
		    <caption>Statistics per location:</caption>
		    <thead>
			<tr>
			    <th>Location</th>
			    <th>Number of issues</th>
			</tr>
		    </thead>
		    <tbody>
		    <!-- TMPL_LOOP NAME="stats_location" -->
			<tr>
			    <td><!-- TMPL_VAR NAME="location" --></td>
			    <td><!-- TMPL_VAR NAME="value" --></td>
			</tr>
		    <!-- /TMPL_LOOP -->
		    </tbody>
		</table>
		<!-- /TMPL_IF -->
    
		<!-- TMPL_IF NAME="last_status_loop" -->
		<table>
		    <caption>Status log:</caption>
		    <thead>
			<tr>
			    <th>status</th>
			    <th>start time</th>
			    <th>end time</th>
			</tr>
		    </thead>
		    <tbody>
		    <!-- TMPL_LOOP NAME="last_status_loop" -->
			<tr>
			    <td><!-- TMPL_VAR NAME="status" --></td>
			    <td><!-- TMPL_VAR NAME="start_time" --></td>
			    <td><!-- TMPL_VAR NAME="end_time" --></td>
			</tr>
		    <!-- /TMPL_LOOP -->
		    </tbody>
		</table>
	    <!-- /TMPL_IF -->
	    <!-- TMPL_IF NAME="last_errors_loop" -->
		<table>
		    <caption>Error log:</caption>
		    <thead>
			<tr>
			    <th>error</th>
			    <th>message</th>
			</tr>
		    </thead>
		    <tbody>
		    <!-- TMPL_LOOP NAME="last_errors_loop" -->
			<tr>
			    <td><!-- TMPL_VAR NAME="error" --></td>
			    <td><!-- TMPL_VAR NAME="message" --></td>
			</tr>
		    <!-- /TMPL_LOOP -->
		    </tbody>
		</table>
	    <!-- /TMPL_IF -->
	    <!-- TMPL_IF NAME="last_sql_errors_loop" -->
		<table>
		    <caption>SQL Error log:</caption>
		    <thead>
			<tr>
			    <th>error</th>
			    <th>message</th>
			</tr>
		    </thead>
		    <tbody>
		    <!-- TMPL_LOOP NAME="last_sql_errors_loop" -->
			<tr>
			    <td><!-- TMPL_VAR NAME="error" --></td>
			    <td><!-- TMPL_VAR NAME="query" --></td>
			</tr>
		    <!-- /TMPL_LOOP -->
		    </tbody>
		</table>
	    <!-- /TMPL_IF -->





    </div>
    <div id="cactions">
	<h3>Client actions</h3>
	    <ul>
		<li>Save current status</li>
		<li><a href="/cgi-bin/koha/tools/kss.pl?manual=1#mtos">Launch manual execution</a></li>
		<!-- TMPL_IF NAME="manualoutput" --><li>Manual execution output : <br /><pre><!-- TMPL_VAR NAME="manualoutput" --></pre></li><!-- /TMPL_IF -->
	    </ul>
    </div>
    <!-- /TMPL_IF -->
</div>
			</div>
			</div>
		    <div class="yui-b noprint">
        <!-- TMPL_INCLUDE NAME="tools-menu.inc" -->
    </div>
	</div>
	<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
