<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Serials &rsaquo; Advanced search</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<!-- TMPL_INCLUDE NAME="calendar.inc" -->

</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="serials-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/serials/serials-home.pl">Serials</a> &rsaquo; Advanced search</div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">


 <form action="/cgi-bin/koha/serials/serials-home.pl" method="get">
        <fieldset class="brief">
            <ol>
              <li>
                <label for="issn">ISSN:</label>
                <input type="text" id="issn" name="ISSN_filter" value="<!-- TMPL_VAR NAME='ISSN_filter' -->" />
              </li>
              <li>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title_filter" value="<!-- TMPL_VAR NAME='title_filter' -->" />
              </li>
              <li>
                <label for="ean">EAN:</label>
                <input type="text" id="ean" name="EAN_filter" value="<!-- TMPL_VAR NAME='EAN_filter' -->" />
              </li>
              <li>
                <label for="publisher">Publisher:</label>
                <input type="text" id="publisher" name="publisher_filter" value="<!-- TMPL_VAR NAME='publisher_filter' -->" />
              </li>
              <li>
                <label for="supplier">Supplier:</label>
                <input type="text" id="supplier" name="supplier_filter" value="<!-- TMPL_VAR NAME='supplier_filter' -->" />
              </li>
              <li>
                <label for="branch">Branch:</label>
                <select id="branch" name="branch_filter">
                  <option value="">All</option>
                  <!-- TMPL_LOOP NAME="branches_loop" -->
                    <!-- TMPL_IF NAME="selected" -->
                      <option selected="selected" value="<!-- TMPL_VAR NAME='branchcode' -->"><!-- TMPL_VAR NAME="branchname" --></option>
                    <!-- TMPL_ELSE -->
                      <option value="<!-- TMPL_VAR NAME='branchcode' -->"><!-- TMPL_VAR NAME="branchname" --></option>
                    <!-- /TMPL_IF -->
                  <!-- /TMPL_LOOP -->
                </select>
              </li>
            </ol>
            <input type="hidden" name="searched" value="1" />
            <fieldset class="action">
              <input type="submit" value="Search" />
            </fieldset>
        </fieldset>
    </form>


</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="serials-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
