<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<!-- TMPL_INCLUDE NAME="calendar.inc" -->
    <title>Koha &rsaquo; Serials &rsaquo; Claims</title>
    <!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<link rel="stylesheet" type="text/css" href="<!-- TMPL_VAR NAME="themelang" -->/css/datatables.css" />
<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/lib/jquery/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/js/datatables.js"></script>
<script type="text/JavaScript" language="JavaScript">
//<![CDATA[
    $(document).ready(function() {
        $('#supplierid').change(function() {
            $('#claims').submit();
        });

        // Case-insensitive version of jquery's contains function
        jQuery.extend(
            jQuery.expr[':'], {
                icontains : "jQuery(a).text().toUpperCase().indexOf(m[3].toUpperCase())>=0" 
            }
        );

        // Checkboxes : Select All / None
        $("span.checkall").html("<input type=\"checkbox\" name=\"CheckAll\"> "+_("Check All")+"</input>");
        $("span.exportSelected").html("<a id=\"ExportSelected\" href=\"/cgi-bin/koha/serials/claims.pl\"> "+_("Export selected items data") +"<\/a>");

        $("#CheckAll").click(function() {
            $("#claimst tr:visible :checkbox").attr('checked', $("#CheckAll").is(':checked'));
        });

        // Generates a dynamic link for exporting the selection's data as CSV
        $("#ExportSelected").click(function() {
            // We use input:checked because it's faster, but if there must new checkboxes
            // used for other purpose on this page, please use [name=serialid]:checked instead
            var selected = $("input:checked");

            if (selected.length == 0) {
                alert(_('Please select at least one item to export.'));
                return false;
            }

            // Building the url from currently checked boxes
            var url = '/cgi-bin/koha/serials/lateissues-excel.pl?supplierid=&amp;op=claims';
            for (var i = 0; i < selected.length; i++) {
                url += '&amp;serialid=' + selected[i].value;
            }
            // And redirecting to the CSV page
            location.href = url;
            return false;
        });

        var claimst = $("#claimst").dataTable( {
            "bAutoWidth": false,
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "/cgi-bin/koha/serials/tables/claims.pl",
            'fnServerData': function(sSource, aoData, fnCallback) {
              aoData.push(
                {
                  'name': 'planneddate_from',
                  'value': $("#begindate").val()
                },
                {
                  'name': 'planneddate_to',
                  'value': $("#enddate").val()
                }
              );
              $.ajax({
                'dataType': 'json',
                'type': 'POST',
                'url': sSource,
                'data': aoData,
                'success': fnCallback
              });
            },
            "oLanguage": {
                "sSearch": _("Search all columns:"),
            },
            "aaSorting": [ [3, 'asc'] ], // sorting on title by default
            "aoColumnDefs": [
                { "aTargets": [ 0 ], "mDataProp": "checkbox", "bSortable":false, "bSearchable":false  }, // No sorting on first column
                { "aTargets": [ 1 ], "mDataProp": "suppliername" },
                { "aTargets": [ 2 ], "mDataProp": "branchname" },
                { "aTargets": [ 3 ], "mDataProp": "title" },
                { "aTargets": [ 4 ], "mDataProp": "serialseq" },
                { "aTargets": [ 5 ], "mDataProp": "status", "bSortable":false, "bSearchable":false },
                { "aTargets": [ 6 ], "mDataProp": "planneddate" },
                { "aTargets": [ 7 ], "mDataProp": "claims_count" },
                { "aTargets": [ 8 ], "mDataProp": "claimdate" },
                { "aTargets": [ '_all' ], "bSortable": true }
            ],
            "sPaginationType": "full_numbers",
        } );

        claimst.fnSetFilteringDelay(750);

        $('#begindate').change( function() {claimst.fnDraw(); } );

        $('#enddate').change( function() { claimst.fnDraw(); } );

        var filterTimerId = null;
        var filterTimer = 750;

        $("input.filter").keyup( function () {
            window.clearTimeout(filterTimerId);
            var $this = this;
            filterTimerId = window.setTimeout(function() {
                claimst.fnFilter($($this).val(), $($this).attr('data-column_num'));
            }, filterTimer);
        } );

        $("#status_filter").change(function() {
            claimst.fnFilter($(this).val(), 5);
        });

    });

    function clearDate(nodeid) {
        $("#"+nodeid).val("");
        $("#"+nodeid).change();
    }

    // Checks if the form can be sent (at least one checkbox must be checked)
    function checkForm() {
        if ($("input:checked").length == 0) {
        alert(_('Please select at least one item.'));
        return false;
        }
    }

//]]>

</script>
</head>
<body>
    <!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_UNLESS NAME="preview" -->
    <!--TMPL_INCLUDE NAME="serials-search.inc" -->
<!-- /TMPL_UNLESS -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/serials/serials-home.pl">Serials</a> &rsaquo; Claims</div>

<!-- TMPL_UNLESS NAME="preview" -->

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">

    <h1>Claims</h1>
    <!-- TMPL_IF NAME="error_claim" -->
        <div class='error'><!-- TMPL_VAR NAME="error_claim" --></div>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="info_claim" -->
        <div class='info'><!-- TMPL_VAR NAME="info_claim" --></div>
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="SHOWCONFIRMATION" -->
     <div class="dialog alert">Your notification has been sent.</div>
     <!-- /TMPL_IF -->
<!-- TMPL_UNLESS NAME="letter" --><div class="dialog alert">No claims notice defined. <a href="/cgi-bin/koha/tools/letter.pl">Please define one</a>.</div><!-- /TMPL_UNLESS -->

    <h3>Missing Issues</h3>

    <form action="claims.pl" method="post" class="checkboxed" onsubmit="return checkForm()">
      <fieldset>
        <input type="hidden" name="order" value="<!--TMPL_VAR Name="order"-->" />
         <table id="claimst" class="display">
                <thead><tr>
                    <!--TMPL_IF NAME="letter"-->
                    <th><input type="checkbox" id="CheckAll"></th>
                    <!--/TMPL_IF-->
                    <th>Vendor</th>
                    <th>Branch</th>
                    <th>Title</th>
                    <th>Issue number</th>
                    <th>Status</th>
                    <th>Since</th>
                    <th>Claims count</th>
                    <th>Claim Date</th>
                </tr></thead>
                <tbody></tbody>
                <tfoot>
                  <tr>
                    <th></th>
                    <th><input type="text" class="filter" id="suppliername_filter" data-column_num="1" placeholder="Search vendor" /></th>
                    <th><input type="text" class="filter" id="branchname_filter"  data-column_num="2" placeholder="Search branch" /></th>
                    <th><input type="text" class="filter" id="title_filter"  data-column_num="3" placeholder="Search title" /></th>
                    <th><input type="text" class="filter" id="serialseq_filter"  data-column_num="4" placeholder="Search issue number" /></th>
                    <th>
                      <select id="status_filter" data-column_num="5">
                        <option value="">All</option>
                        <option value="1">Expected</option>
                        <option value="2">Arrived</option>
                        <option value="3">Late</option>
                        <option value="4">Missing</option>
                        <option value="7">Claimed</option>
                      </select>
                    </th>
                    <th>
                      <span style="whitespace:nowrap">
                        <label for="begindate">From</label>
                        <input type="text" name="begindate" id="begindate" value="<!-- TMPL_VAR name="begindate" -->" size="8" maxlength="10" readonly="readonly" placeholder="Pick date" />
                        <a href="#" style="text-decoration:none" onclick="clearDate('begindate');return false;">&times;</a>
                        <script type="text/javascript">
                         //<![CDATA[ 
                        Calendar.setup({
                            inputField	: "begindate", 
                            button		: "begindate",
                            ifFormat	: "<!-- TMPL_VAR NAME="DHTMLcalendar_dateformat" -->",
                            onClose: function() { $("#begindate").change(); this.hide();}
                        });
                        //]]>
                        </script>
                      </span>
                      <br />
                      <span style="whitespace:nowrap">
                        <label for="enddate" style="float:none;">To</label>
                        <input type="text" name="enddate" id="enddate" value="<!-- TMPL_VAR name="enddate" -->" size="8" maxlength="10" readonly="readonly" placeholder="Pick date" />
                        <a href="#" style="text-decoration:none" onclick="clearDate('enddate');return false;">&times;</a>
                        <script type="text/javascript">
                         //<![CDATA[ 
                         Calendar.setup({
                            inputField      : "enddate", 
                            button          : "enddate",
                            ifFormat        : "<!-- TMPL_VAR NAME="DHTMLcalendar_dateformat" -->",
                            onClose: function() { $("#enddate").change(); this.hide();}
                        });
                        //]]>
                        </script>
                      </span>
                    </th>
                    <th><input type="text" class="filter" id="claimscount_filter" data-column_num="7" placeholder="Search claims count" /></th>
                    <th><input type="text" class="filter" id="claimdate_filter" data-column_num="8" placeholder="Search claim date" /></th>
            </table>
            <div class="spacer"></div>
	     <p style="display:block;"><span class="exportSelected"></span></p>

<!--TMPL_IF Name="letter" -->
        <fieldset class="action"> <label for="letter_code">Select notice:</label>
            <select name="letter_code" id="letter_code">
                <!-- TMPL_LOOP name="letters" -->
                    <option value="<!--TMPL_VAR Name="code"-->"><!--TMPL_VAR Name="name"--></option>
                <!--/TMPL_LOOP-->
			</select>
	    <input type="hidden" name="op" value="send_alert" /><input type="submit" name="submit" class="button" value="Send notification" /></fieldset>
            <!--/TMPL_IF-->
          </fieldset>
        </form>
<!-- TMPL_ELSE -->

<div id="doc" class="yui-t7">
   <div id="bd">
	
<!-- TMPL_IF Name="supplierid"-->
        <!-- TMPL_IF NAME="name" -->
        <p><b><!-- TMPL_VAR NAME="name" --></b><br />
        <!-- /TMPL_IF -->
        <!-- TMPL_IF NAME="postal" -->
        <!-- TMPL_VAR NAME="postal" --><br />
        <!-- /TMPL_IF -->
        <!-- TMPL_IF NAME="contphone" -->
        Ph: <!-- TMPL_VAR NAME="contphone" --><br />
        <!-- /TMPL_IF -->
        <!-- TMPL_IF NAME="contfax" -->
        Fax: <!-- TMPL_VAR NAME="contfax" --><br />
        <!-- /TMPL_IF -->
        <!-- TMPL_IF NAME="contemail" -->
        Email: <!-- TMPL_VAR NAME="contemail" --><br />
        <!-- /TMPL_IF -->
        <!-- TMPL_IF NAME="accountnumber" -->
        A/C: <!-- TMPL_VAR NAME="accountnumber" --></p>
        <!-- /TMPL_IF -->
        <!-- TMPL_IF NAME="contact" -->
        <p>Dear <!-- TMPL_VAR NAME="contact" --></p>
        <!-- TMPL_ELSE -->
        <p>To whom it may concern</p>
        <!-- /TMPL_IF -->
        <p>The following items have not been received from you and are now considered missing:</p>
<!-- /TMPL_IF -->
        <!-- TMPL_IF NAME="missingissues" -->
        <h3>Missing Issues</h3>
        <table>
            <tr>
                <td><b>Vendor<b></td>
                <td><b>Title</b></td>
                <td><b>Issue number</b></td>
                <td><b>Missing since</b></td>
            </tr>
            <!-- TMPL_LOOP name="missingissues" -->
                <tr>
                    <td>
                    <!-- TMPL_VAR name="name" -->
                    </td>
                    <td>
                    <!-- TMPL_VAR name="title" escape="html" -->
                    </td>
                    <td>
                    <!-- TMPL_VAR name="serialseq" -->
                    </td>
                    <td>
                    <!-- TMPL_VAR name="planneddate" -->
                    </td>
                </tr>
            <!-- /TMPL_LOOP -->
        </table>
        <!-- /TMPL_IF -->

<p class="noprint"><a href="#" onclick="window.print(); return false;">Print</a> &nbsp; <a href="#" class="close">Close</a></p>
<!-- /TMPL_UNLESS -->

</div>
</div>

<!-- TMPL_UNLESS NAME="preview" -->
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="serials-menu.inc" -->
</div>
<!-- /TMPL_UNLESS -->
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
