<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Serials Subscription renew #<!-- TMPL_VAR name="subscriptionid" --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<style type="text/css">
   #custom-doc { width:39.85em;*width:38.86em;min-width:531px; margin:auto; text-align:left; }
   </style>
</head>
<body>

<div id="custom-doc" class="yui-t7">
<!--TMPL_IF Name="renew"-->
  Subscription renewed.
  
<script type="text/javascript">
//<![CDATA[
  opener.document.location.reload();
  self.close();
  //]]>
</script>
<!--TMPL_ELSE-->
<div id="bd">
<form name="f" action="/cgi-bin/koha/serials/subscription-renew.pl" method="post">
  <input type="hidden" name="op" value="renew" />
  <input type="hidden" name="subscriptionid" value="<!-- TMPL_VAR name="subscriptionid" -->" />
  <fieldset class="rows"><legend>Subscription renewal for <!-- TMPL_VAR name="bibliotitle" --></legend>
    <ol>
      <li>
        <label for="startdate">Start date: </label>
        <input type="text" id="startdate" name="startdate" value="<!-- TMPL_VAR name="startdate" -->" />
      </li>
      <li>
        <label for="firstacquidate">First issue publication date: </label>
        <input type="text" id="firstacquidate" name="firstacquidate" value="<!-- TMPL_VAR NAME='startdate' -->" />
      </li>
      <li>
        <label for="sublength">Subscription length:</label>
        <select id="subtype" name="subtype">
          <!-- TMPL_LOOP NAME="subtypes_loop" -->
            <!-- TMPL_IF NAME="selected" -->
              <option value="<!-- TMPL_VAR NAME='value' -->" selected="selected"><!-- TMPL_VAR NAME="value" --></option>
            <!-- TMPL_ELSE -->
              <option value="<!-- TMPL_VAR NAME='value' -->"><!-- TMPL_VAR NAME="value" --></option>
            <!-- /TMPL_IF -->
          <!-- /TMPL_LOOP -->
        </select>
        <input type="text" id="sublength" name="sublength" value="<!-- TMPL_VAR NAME='sublength' -->" />
      </li>
  <fieldset class="action"><input type="submit" value="Submit" class="button" /></fieldset>
</form>
</div>
<!-- /TMPL_IF -->

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->

