<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Serials &rsaquo; Number patterns</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript">
//<![CDATA[
function testPattern() {
    var frequencyid = $("#frequency").val();
    var firstacquidate = $("#firstacquidate").val();
    var error = 0;
    var error_msg = "";
    if(frequencyid == undefined || frequencyid == ""){
        error_msg += _("- Frequency is not defined\n");
        error ++;
    }
    if(firstacquidate == undefined || firstacquidate == ""){
        error_msg += _("- First publication date is not defined\n");
        error ++;
    }

    if(error){
        alert(_("Cannot test prediction pattern for the following reason(s):\n\n")
            + error_msg);
        return false;
    }

    $.ajax({
        url: "showpredictionpattern.pl",
        data: {
            'custompattern' : 1,
            'firstacquidate': $("#firstacquidate").val(),
            'enddate'       : $("#enddate").val(),
            'subtype'       : $("#subtype").val(),
            'sublength'     : $("#sublength").val(),
            'frequency'     : $("#frequency").val(),
            'numberingmethod' : $("#numberingmethod").val(),
            'lastvalue1'    : $("#lastvalue1").val(),
            'lastvalue2'    : $("#lastvalue2").val(),
            'lastvalue3'    : $("#lastvalue3").val(),
            'add1'          : $("#add1").val(),
            'add2'          : $("#add2").val(),
            'add3'          : $("#add3").val(),
            'every1'        : $("#every1").val(),
            'every2'        : $("#every2").val(),
            'every3'        : $("#every3").val(),
            'innerloop1'    : $("#innerloop1").val(),
            'innerloop2'    : $("#innerloop2").val(),
            'innerloop3'    : $("#innerloop3").val(),
            'setto1'        : $("#setto1").val(),
            'setto2'        : $("#setto2").val(),
            'setto3'        : $("#setto3").val(),
            'whenmorethan1' : $("#whenmorethan1").val(),
            'whenmorethan2' : $("#whenmorethan2").val(),
            'whenmorethan3' : $("#whenmorethan3").val(),
            'numbering1'    : $("#numbering1").val(),
            'numbering2'    : $("#numbering2").val(),
            'numbering3'    : $("#numbering3").val()
        },
        async: false,
        dataType: "text",
        success: function(data) {
            $("#predictionpattern").html(data);
        }
    });
}

$(document).ready(function() {
    // Some JS
});
//]]>
</script>
</head>

<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="serials-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/serials/serials-home.pl">Serials</a> &rsaquo; Number patterns</div>

<div id="doc3" class="yui-t2">

<div id="bd">
  <div id="yui-main">
    <div class="yui-b">
      <div class="yui-g">
        <!-- TMPL_IF NAME='new_or_mod' -->
          <!-- TMPL_IF NAME='new' -->
            <h1>New number pattern</h1>
            <!-- TMPL_IF NAME='error_existing_numberpattern' -->
              <div class="dialog">
                <p>A pattern with this name already exists.</p>
              </div>
            <!-- /TMPL_IF -->
          <!-- TMPL_ELSE -->
            <h1>Modify pattern: <!-- TMPL_VAR NAME='label' --></h1>
            <!-- TMPL_IF NAME='error_existing_numberpattern' -->
              <div class="dialog">
                <p>Another pattern with this name already exists.</p>
              </div>
            <!-- /TMPL_IF -->
          <!-- /TMPL_IF -->
          <form action="/cgi-bin/koha/serials/subscription-numberpatterns.pl" method="post">
            <div class="yui-u first">
              <!-- TMPL_IF NAME='new' -->
                <input type="hidden" name="op" value="savenew" />
              <!-- TMPL_ELSE -->
                <input type="hidden" name="op" value="savemod" />
                <input type="hidden" name="id" value="<!-- TMPL_VAR NAME='id' -->" />
              <!-- /TMPL_IF -->
              <fieldset class="rows">
                <ol>
                  <li>
                    <label for="label">Name:</label>
                    <input type="text" id="label" name="label" value="<!-- TMPL_VAR NAME='label' -->" />
                  </li>
                  <li>
                    <label for="description">Description:</label>
                    <input type="text" id="description" name="description" value="<!-- TMPL_VAR NAME='description' -->" />
                  </li>
                  <li>
                    <label for="numberingmethod">Numbering formula:</label>
                    <input type="text" id="numberingmethod" name="numberingmethod" value="<!-- TMPL_VAR NAME='numberingmethod' -->" />
                  </li>
                  <li>
                    <label for="displayorder">Display order:</label>
                    <input type="text" id="displayorder" name="displayorder" value="<!-- TMPL_VAR NAME='displayorder' -->" />
                  </li>
                </ol>
                <table>
                  <thead>
                    <tr>
                      <th>&nbsp;</th>
                      <th>X</th>
                      <th>Y</th>
                      <th>Z</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Label</td>
                      <td><input type="text" id="label1" name="label1" value="<!-- TMPL_VAR NAME='label1' -->" /></td>
                      <td><input type="text" id="label2" name="label2" value="<!-- TMPL_VAR NAME='label2' -->" /></td>
                      <td><input type="text" id="label3" name="label3" value="<!-- TMPL_VAR NAME='label3' -->" /></td>
                    </tr>
                    <tr>
                      <td>Add</td>
                      <td><input type="text" id="add1" name="add1" value="<!-- TMPL_VAR NAME='add1' -->" /></td>
                      <td><input type="text" id="add2" name="add2" value="<!-- TMPL_VAR NAME='add2' -->" /></td>
                      <td><input type="text" id="add3" name="add3" value="<!-- TMPL_VAR NAME='add3' -->" /></td>
                    </tr>
                    <tr>
                      <td>Every</td>
                      <td><input type="text" id="every1" name="every1" value="<!-- TMPL_VAR NAME='every1' -->" /></td>
                      <td><input type="text" id="every2" name="every2" value="<!-- TMPL_VAR NAME='every2' -->" /></td>
                      <td><input type="text" id="every3" name="every3" value="<!-- TMPL_VAR NAME='every3' -->" /></td>
                    </tr>
                    <tr>
                      <td>Set back to</td>
                      <td><input type="text" id="setto1" name="setto1" value="<!-- TMPL_VAR NAME='setto1' -->" /></td>
                      <td><input type="text" id="setto2" name="setto2" value="<!-- TMPL_VAR NAME='setto2' -->" /></td>
                      <td><input type="text" id="setto3" name="setto3" value="<!-- TMPL_VAR NAME='setto3' -->" /></td>
                    </tr>
                    <tr>
                      <td>When more than</td>
                      <td><input type="text" id="whenmorethan1" name="whenmorethan1" value="<!-- TMPL_VAR NAME='whenmorethan1' -->" /></td>
                      <td><input type="text" id="whenmorethan2" name="whenmorethan2" value="<!-- TMPL_VAR NAME='whenmorethan2' -->" /></td>
                      <td><input type="text" id="whenmorethan3" name="whenmorethan3" value="<!-- TMPL_VAR NAME='whenmorethan3' -->" /></td>
                    </tr>
                    <tr>
                      <td>Numbering</td>
                      <td><input type="text" id="numbering1" name="numbering1" value="<!-- TMPL_VAR NAME='numbering1' -->" /></td>
                      <td><input type="text" id="numbering2" name="numbering2" value="<!-- TMPL_VAR NAME='numbering2' -->" /></td>
                      <td><input type="text" id="numbering3" name="numbering3" value="<!-- TMPL_VAR NAME='numbering3' -->" /></td>
                    </tr>
                  </tbody>
                </table>
              </fieldset>
              <fieldset class="action">
                <input type="submit" value="Save" />
                <input type="reset" value="Reset" />
                <input type="button" value="Cancel" onclick="window.location = '/cgi-bin/koha/serials/subscription-numberpatterns.pl';" />
              </fieldset>
            </form>
          </div>
          <div class="yui-u">
            <fieldset class="rows">
              <legend>Test prediction pattern</legend>
              <table>
                <thead>
                  <tr>
                    <th>&nbsp;</th>
                    <th>X</th>
                    <th>Y</th>
                    <th>Z</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Begins with</td>
                    <td><input type="text" id="lastvalue1" name="lastvalue1" value="<!-- TMPL_VAR NAME='lastvalue1' -->" /></td>
                    <td><input type="text" id="lastvalue2" name="lastvalue2" value="<!-- TMPL_VAR NAME='lastvalue2' -->" /></td>
                    <td><input type="text" id="lastvalue3" name="lastvalue3" value="<!-- TMPL_VAR NAME='lastvalue3' -->" /></td>
                  </tr>
                  <tr>
                    <td>Inner counter</td>
                    <td><input type="text" id="innerloop1" name="innerloop1" value="<!-- TMPL_VAR NAME='innerloop1' -->" /></td>
                    <td><input type="text" id="innerloop2" name="innerloop2" value="<!-- TMPL_VAR NAME='innerloop2' -->" /></td>
                    <td><input type="text" id="innerloop3" name="innerloop3" value="<!-- TMPL_VAR NAME='innerloop3' -->" /></td>
                  </tr>
                </tbody>
              </table>
              <ol>
                <li>
                  <label for="frequency">Frequency:</label>
                  <select id="frequency">
                    <!-- TMPL_LOOP NAME="frequencies_loop" -->
                      <option value="<!-- TMPL_VAR NAME='id' -->"><!-- TMPL_VAR NAME='description' --></option>
                    <!-- /TMPL_LOOP -->
                  </select>
                </li>
                <li>
                  <label for="firstacquidate">First issue publication date</label>
                  <input type="text" id="firstacquidate" size="10" />
                </li>
                <li>
                  <label for="sublength">Subscription length:</label>
                  <select id="subtype">
                    <!-- TMPL_LOOP NAME='subtypes_loop' -->
                      <option value="<!-- TMPL_VAR NAME='value' -->"><!-- TMPL_VAR NAME='value' --></option>
                    <!-- /TMPL_LOOP -->
                  </select>
                  <input type="text" id="sublength" size="3" />
                </li>
                <li>
                  <label for="enddate">Subscription end date</label>
                  <input type="text" id="enddate" size="10" />
                </li>
              </ol>
              <fieldset class="action">
              <input type="button" value="Test pattern" onclick="testPattern();" />
              </fieldset>
              <div id="predictionpattern"></div>
            </fieldset>
          </div>
        <!-- TMPL_ELSE -->
          <h1>Number patterns</h1>
          <a href="/cgi-bin/koha/serials/subscription-numberpatterns.pl?op=new">New number pattern</a>
          <!-- TMPL_IF NAME='numberpatterns_loop' -->
            <table id="numberpatternst">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Numbering formula</th>
                  <th>Display order</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <!-- TMPL_LOOP NAME='numberpatterns_loop' -->
                  <tr>
                    <td><!-- TMPL_VAR NAME='label' --></td>
                    <td><!-- TMPL_VAR NAME='description' --></td>
                    <td><!-- TMPL_VAR NAME='numberingmethod' --></td>
                    <td><!-- TMPL_VAR NAME='displayorder' --></td>
                    <td>
                      <a href="/cgi-bin/koha/serials/subscription-numberpatterns.pl?op=mod&id=<!-- TMPL_VAR NAME='id' -->">Edit</a> |
                      <a href="/cgi-bin/koha/serials/subscription-numberpatterns.pl?op=del&id=<!-- TMPL_VAR NAME='id' -->">Delete</a>
                    </td>
                  </tr>
                <!-- /TMPL_LOOP -->
              </tbody>
            </table>
          <!-- TMPL_ELSE -->
            <p>There is no existing patterns.</p>
          <!-- /TMPL_IF -->
        <!-- /TMPL_IF -->
      </div>
    </div>
  </div>
  <div class="yui-b">
    <!-- TMPL_INCLUDE NAME="serials-menu.inc" -->
  </div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
