<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<!-- TMPL_IF NAME="LibraryNameTitle" --><!-- TMPL_VAR NAME="LibraryNameTitle" --><!-- TMPL_ELSE -->Koha Online<!-- /TMPL_IF -->
    Catalog &rsaquo; Advanced Search
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/JavaScript" language="JavaScript">
    $(document).ready(function() {
        advSearchPrepare();
        $(".advsearch").change(); //force update if back button is pushed
        $('select[name="idx"]').attr('disabled', false);
        $('select[name="op"]').attr('disabled', false);
    });

  function advSearchPrepare () {

//    $(".advsearch").each( function (this) {getAuthorisedValuesList(this)});
//    $(".advsearch").load( function () {getAuthorisedValuesList($(this))});
    $(".advsearch").each( function () {getAuthorisedValuesList($(this))});
    <!-- TMPL_LOOP NAME="indexandavlist" -->
    $(".advsearch").find("option").each(function () {
       if ($(this).val() == '<!-- TMPL_VAR NAME="code" -->' ) {
         $(this).attr("avlist", '<!-- TMPL_VAR NAME="avlist" -->');
       }
    });
    <!-- /TMPL_LOOP -->
    $(".advsearch").change( function () {getAuthorisedValuesList($(this))});
  }

  function check_form() {
    $('select[name="idx"]').each( function() {
        var input_elt = $(this).find('~ input'); // Input element
        var op_elt = $(this).parent().next('div').find('select[name="op"]'); // Select op element
        if ( !$(this).find('option:selected').attr('avlist') && $(input_elt).val().length < 1 ) {
            $(input_elt).attr('disabled', true);
            $(this).attr('disabled', true);
            if ( op_elt.length > 0 ) {
                $(op_elt).attr('disabled', true);
            }
        }
    } );
    if ( $('select[name="idx"]:enabled').length < 1 ) {
        var first_select = $('select[name="idx"]')[0];
        $(first_select).attr('disabled', false);
        $(first_select).find('~ input').attr('disabled', false);
    }
    return true;
  }

</script>
<script type="text/javascript" src="<!-- TMPL_VAR NAME='themelang' -->/js/catalogue.js"></script>
</head>
<body id="advsearch"><div id="doc3" class="yui-t7">
<div id="bd">
<!-- TMPL_INCLUDE name="masthead.inc" -->

<form action="/cgi-bin/koha/opac-search.pl" method="get">
    <!-- BOOLEAN SEARCH OPTIONS -->
    <div class="yui-g">
        <div id="booleansearch" class="container">
            <fieldset>
                <legend>Search for:</legend>
                <!-- TMPL_LOOP NAME="search_boxes_loop" -->
                    <div>
                        <!-- TMPL_IF NAME="expanded_options" -->
                            <!-- TMPL_UNLESS NAME="__first__" -->
                            <select class="advsearchoperator" name="op">
                                <option value="and" selected="selected">and</option>
                                <option value="or">or</option>
                                <option value="not">not</option>
                            </select>
                            <!-- /TMPL_IF -->
                        <!-- /TMPL_IF -->
                        <!-- TMPL_IF NAME="expanded_options" --><!-- TMPL_VAR NAME="left_content" --><!-- /TMPL_IF --> 
                        <!-- TMPL_IF NAME="OpacAdvancedSearchContent" -->
                            <!-- TMPL_VAR NAME="OpacAdvancedSearchContent" -->
                        <!-- TMPL_ELSE -->
                            <select class="advsearch" name="idx">
                                <option value="all_fields">Keyword</option>
                                <!-- TMPL_LOOP NAME="indexloop" -->
                                    <option value="<!-- TMPL_VAR NAME="code" -->"><!-- TMPL_VAR NAME="label" --></option>
                                <!-- /TMPL_LOOP -->
                            </select>
                        <!-- /TMPL_IF -->
                        <input type="text" size="30" name="q" title="Enter search terms" value="" />
                        <div class="avlist" style="display:inline" value="-"></div>
                        <!-- TMPL_IF NAME="expanded_options" -->
                            <!-- TMPL_IF NAME="__last__" --><a href="JavaScript:add_field();" id="ButtonPlus" title="Add another field">[+]</a><!-- /TMPL_IF -->
                        <!-- /TMPL_IF -->
                    </div>
                <!-- /TMPL_LOOP -->
            </fieldset>
        </div>
    </div>
    <!-- PUB RANGE OPTION -->
    <div id="pubrange" class="container">
        <fieldset>
            <legend>Publication Date Range:</legend>
            <span>For example:  1999-2001.  You could also use "-1987" for everything published before 1987 or "2008-" for everything published after 2008.</span>
            <input type="text" size="30" name="limit-yr" title="Enter search terms" value="" />
        </fieldset>
    </div>
    <!-- /PUB RANGE OPTION -->
    <!-- /BOOLEAN SEARCH OPTIONS -->
    <div class="yui-g">
        <div id="advsearch-itemtype" class="container">
            <fieldset>
                <legend>Limit to any of the following:</legend>
                <table>
                    <tr>
                        <!--TMPL_LOOP Name="itemtypeloop"-->
                            <td>
                                <input type="checkbox" id="<!-- TMPL_VAR NAME="indexname" -->-<!--TMPL_VAR NAME="number" -->" name="filters" value='<!-- TMPL_VAR NAME="indexname" -->:<!-- TMPL_VAR NAME="code" -->'/>
                                <label for="<!-- TMPL_VAR NAME="indexname" -->-<!--TMPL_VAR NAME="number" -->">
                                    <!-- TMPL_IF name="imageurl"-->
                                    <img border="0" src="<!--TMPL_VAR Name="imageurl" -->" alt="<!--TMPL_VAR Name="description" -->" /><!-- /TMPL_IF -->&nbsp;
                                    <!--TMPL_VAR Name="description" -->
                                </label>
                            </td>
                            <!-- TMPL_UNLESS name="count5" --><!-- TMPL_UNLESS name="__last__" --></tr><tr><!-- /TMPL_UNLESS --><!-- /TMPL_UNLESS -->
                        <!--/TMPL_LOOP-->
                    </tr>
                </table>
            </fieldset>
        </div>
        <!-- LANGUAGE LIMIT -->
        <fieldset>
            <legend>Language</legend>
            <p>
                <label for="filters">Language: </label>                                        
                <select name="filters">
                    <option value="" selected="selected">No Limit</option>
                        <!-- TMPL_LOOP NAME="search_languages_loop" -->
                            <option value='<!-- TMPL_VAR NAME="lang_indexname" -->:"<!-- TMPL_VAR NAME="authorised_value" -->"' <!-- TMPL_IF NAME="selected" -->selected="selected"<!-- /TMPL_IF -->>
                                <!-- TMPL_VAR NAME="lib" -->
                            </option>
                        <!-- /TMPL_LOOP -->
                </select>
            </p>
        </fieldset>
        <!-- /LANGUAGE LIMIT -->
        <!-- SUBTYPE LIMITS -->
        <!-- TMPL_IF NAME="expanded_options" -->
            <!-- TMPL_IF NAME="UNIMARC" -->
                <!-- TMPL_INCLUDE NAME="subtypes_unimarc.inc" -->
            <!-- TMPL_ELSE -->
                <!-- TMPL_INCLUDE NAME="subtypes_usmarc.inc" -->
            <!-- /TMPL_IF -->
        <!--/TMPL_IF-->
        <!-- SUBTYPE LIMITS -->
    </div>
    <div class="yui-g">
        <!-- AVAILABILITY LIMITS -->
        <div class="yui-u first">
            <!-- TMPL_UNLESS NAME="singleBranchMode" -->
                <div id="location" class="container">
                    <fieldset>
                        <legend>Location and availability: </legend>
                        <select name="filters" id="branchloop">
                            <option value="">All libraries</option>
                            <!-- TMPL_LOOP NAME="branchloop" -->
                                <option value='<!-- TMPL_VAR NAME="holdingbranch_indexname" -->:"<!-- TMPL_VAR NAME="branchcode" -->"' <!--TMPL_IF NAME="selected"-->selected="selected"<!--/TMPL_IF--> >
                                    <!-- TMPL_VAR NAME="branchname" -->
                                </option>
                            <!-- /TMPL_LOOP -->
                        </select>
                        <div style="margin-top:.4em"><label for="available-items"><input type="checkbox" id="available-items" name="filters" value="<!-- TMPL_VAR NAME="availability_indexname" -->:1" /> Only items currently available for loan or reference</label></div>
                    </fieldset>
                </div>
            <!-- /TMPL_UNLESS -->
        </div>
        <!-- /AVAILABILITY LIMITS -->

        <!-- RANK LIMITS -->
        <div class="yui-u">
            <div id="sortby" class="container">
                <fieldset>
                    <legend>Sort by: </legend>
                    <select id="sort_by" name="sort_by">
                        <!--TMPL_INCLUDE NAME="resort_form.inc" -->
                    </select>
                </fieldset>
            </div>
        </div>
        <!-- RANK LIMITS -->
    </div>
    
    <!-- SEARCH BUTTONS -->
    <div class="yui-g">
        <div class="container" style="text-align: center;">
            <input class="submit" type="submit" accesskey="s" name="do" title="Search" onclick="return check_form();" value="Search" />
            <!-- TMPL_IF NAME="expanded_options" -->
                <a href="/cgi-bin/koha/opac-search.pl?expanded_options=0">[Fewer Options]</a>
            <!-- TMPL_ELSE -->
                <a href="/cgi-bin/koha/opac-search.pl?expanded_options=1">[More options]</a>
            <!-- /TMPL_IF -->
            <a href="/cgi-bin/koha/opac-search.pl">[New Search]</a>
        </div>
    </div>
    <!-- /SEARCH BUTTONS -->
</form>

<script type="text/javascript" language="javascript">
    /* This function allows to display a new field to search. */
    function add_field() {
        var ButtonPlus = document.getElementById('ButtonPlus');
        var line       = ButtonPlus.parentNode;
        line.parentNode.appendChild(line.cloneNode(true));
        line.removeChild(ButtonPlus);
    }
</script>

</div>
<!-- TMPL_INCLUDE NAME="opac-bottom.inc" -->
