<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Budget <!-- TMPL_VAR NAME='type' --> search</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
    <style type="text/css">
    #custom-doc { width:44.46em;*width:43.39em;min-width:578px; margin:auto; text-align:left; }
    </style>

<script type="text/javascript">
//<![CDATA[

// modify parent window owner element
function returnOwner(ownerId, ownerName){
    var top1 = top.opener;
    var type = '<!-- TMPL_VAR NAME="type" -->';
    var name = 'budget_<!-- TMPL_VAR NAME="type" -->_name';
    var id = 'budget_<!-- TMPL_VAR NAME="type" -->_id';
    if (type == 'user'){
      top1.document.getElementById(name).innerHTML += "<li id=\""+ownerId+"\"><a href=\"/cgi-bin/koha/members/moremember.pl?borrowernumber="+ownerId+"\">"+ownerName+"</a> [<a style=\"text-decoration:none\" href=\"#\" onclick=\"deleteUser("+ownerId+");return false;\">Delete user</a>]</li>";
      top1.document.getElementById(id).value += ownerId+":";
    } else if (type == 'owner') {
      top1.document.getElementById(name).innerHTML = "<a href=\"/cgi-bin/koha/members/moremember.pl?borrowernumber="+ownerId+"\">"+ownerName+"</a>";
      top1.document.getElementById(id).value = ownerId;
    } else {
      alert ('type is undefined');
    }
    window.close();
}
//]]>
</script>

</head>
<body>
<div id="custom-doc" class="yui-t7">
   <div id="bd">
	<div class="yui-g">


  <h3>Search for budget <!-- TMPL_VAR NAME='type' --></h3>
	<form action="/cgi-bin/koha/admin/aqbudget_borrower_search.pl" method="post">
		<fieldset>
		<input type="text" name="member" id="member" value="<!-- TMPL_VAR NAME="member" -->" class="focus" />
    <input type="hidden" value="<!-- TMPL_VAR NAME="type" -->" name="type" />
    <input type="submit" class="button" value="Search" /></fieldset>
    <div class="hint">Only staff with superlibrarian or acquisitions permissions are returned in the search results</div>
	</form>


<!--TMPL_IF NAME="results" -->
	<p>Searched for <span class="ex"><!-- TMPL_VAR NAME="member" --></span>, <!-- TMPL_VAR Name ="numresults" --> patron(s) found:</p>
	<table>
		<tr>
			<th>Cardnumber</th>
			<th>Name</th>
			<th>Branch</th>
			<th>Categorycode</th>
            <th>Select?</th>
		</tr>

		<!-- TMPL_LOOP NAME="resultsloop" -->
            <!-- TMPL_IF NAME="toggle" --><tr><!-- TMPL_ELSE --><tr class="highlight"><!-- /TMPL_IF -->
				<td><!-- TMPL_VAR NAME="cardnumber" --></td>
                <td><!-- TMPL_VAR NAME="surname" -->, <!-- TMPL_VAR NAME="firstname" --></td>
				<td><!-- TMPL_VAR NAME="branchcode" --></td>
				<td><!-- TMPL_VAR NAME="categorycode" --></td>
                <td>
                 <input type="button" value="Select" onclick="returnOwner('<!-- TMPL_VAR NAME="budget_owner_id" -->', '<!-- TMPL_VAR NAME="budget_owner_name" -->');"  />
                </td>
			</tr>
		<!-- /TMPL_LOOP -->
	</table>
<!--/TMPL_IF-->

<div id="closewindow"><a href="#" class="close">Cancel</a></div>
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
